homeassistant:
  customize: !include customize.yaml
  allowlist_external_dirs:
    - /tmp

default_config:

lovelace:

http:
  ssl_certificate: !secret ssl_cert_loc
  ssl_key: !secret ssl_key_loc
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.0.0.0/8
    - 127.0.0.1
    - ::1

# Discover some devices automatically
discovery:

# Text to speech
tts:
  - platform: google_translate
#   language: 'en-us'
#   service_name: google_say
    cache_dir: /tmp/tts

  - platform: google_cloud
    cache_dir: /tmp/tts
    key_file: !secret google_key_file
    language: en-US
    gender: female
    voice: en-US-Wavenet-F

#media players
media_player: !include media_players.yaml
media_extractor:

#device tracking
device_tracker: !include device_trackers.yaml

influxdb:

recorder:
  # exclude:
  #   domains:
  #   entities:

system_log:
  fire_event: true
logger:
  default: warning
  logs:
    camect: info
    plexwebsocket: fatal
#    homeassistant.components.workday: debug
#    homeassistant.components.webhook: debug

zone:
  - name: Home
    latitude: !secret home_latitude
    longitude: !secret home_longitude
    radius: 50
    icon: mdi:home

notify: !include notify.yaml
automation: !include automations.yaml
scene: !include scenes.yaml
sensor: !include_dir_merge_list sensors/
switch: !include_dir_merge_list switches/
group: !include_dir_merge_named groups/
script: !include scripts.yaml
input_boolean: !include input_boolean.yaml
input_number: !include input_number.yaml
input_select: !include input_select.yaml
binary_sensor: !include_dir_merge_list binary_sensors/
light: !include lights.yaml

#climate:
#  platform: nest

fan:
  - platform: template
    fans:
      hvac_fan:
        friendly_name: "HVAC Fan"
        value_template: "{% if is_state_attr('climate.upstairs', 'fan_mode', 'on') %}on{% else %}off{% endif %}"
        turn_on:
          service: climate.set_fan_mode
          data:
            entity_id: climate.upstairs
            fan_mode: 'on'
        turn_off:
          service: climate.set_fan_mode
          data:
            entity_id: climate.upstairs
            fan_mode: 'off'
#        speeds: []

#vendor-specific integrations
ifttt:
  key: !secret ifttt_key
google: #calendar
  client_id: !secret google_oath_client
  client_secret: !secret google_oath_secret
google_assistant: !include google_assistant.yaml
nest:
  client_id: !secret nest_oath_client
  client_secret: !secret nest_oath_secret
  project_id: !secret nest_project_id
  subscriber_id: !secret nest_subscriber_id

camect: #custom component
  - host: !secret camect_host
    port: 443
    username: !secret camect_un
    password: !secret camect_pw
    camera_ids: !secret camect_cameras
#    id: !secret camect_home

telegram_bot:
  - platform: polling
    api_key: !secret telegram_api
    allowed_chat_ids:
      - !secret telegram_id_peter
      - !secret telegram_id_kelley

eufy_vacuum:
  devices:
  - name: Robovac
    address: !secret eufy_ip
    access_token: !secret eufy_token
    id: !secret eufy_id
    type: T2118

circadian_lighting: